<div class="players-view">
    <div class="players-view-item-wrapper">
        {{#each players}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="players-view-info" style="text-shadow: {{{text_shadow}}};font-size: {{{font_size_vw}}};text-align: {{{text_align}}}">
        {{{info_text}}}
    </div>
</div>