<div class="pick-view">
    <div class="pick-view-item-wrapper">
        {{#each items}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="pick-view-info" style="text-shadow: {{{text_shadow}}};font-size: {{{font_size_vw}}};text-align: {{{text_align}}}">
        {{{info_text}}}
    </div>
</div>