<div class="player-view" style="flex-basis:{{{player_view_flex_basis}}}; margin: {{{player_view_margin}}}; box-shadow: {{{player_view_box_shadow}}}; border: {{{player_view_border}}}">
    <div class="player-view-rating">?</div>
    <div class="player-view-avatar">
        <div style="background:{{{player_view_avatar_background}}}; background-size:{{{player_view_avatar_background-size}}}; box-shadow:{{{player_view_avatar_box_shadow}}}; border:{{{player_view_avatar_border}}}">
            {{{player_view_avatar_text}}}
        </div>
    </div>
    <div class="player-view-nickname-wrapper" style="background:{{{player_view_nickname_wrapper_background}}}">
        <div class="player-view-stub"></div>
        <div class="player-view-nickname">
            {{{nickname}}}
        </div>
        <div class="player-view-stub"></div>
    </div>
</div>